<%-include('../partials/header.ejs')%>

	<h1>List of Stories</h1>

	<ul>
	<% stories.forEach((story) => { %>
		<li><a href="/stories/<%=story._id%>"><%=story.title%></a></li>
		<p>By: <%=story.user.username%></p>	
	<% }) %>
	</ul>




<%-include('../partials/footer.ejs')%>
