<%-include('../partials/header.ejs')%>


	<h1><%=story.title%></h1>
	<h3><%=story.genre%></h3>
	<p><%=story.body%></p>



<% if (userId == story.user._id) {%>

	<a href="/stories/<%=story._id%>/edit" title=""><small>Edit Story</small></a>
	
	<form method='POST' action="/stories/<%=story._id%>?_method=delete"><button class="btn btn-danger">Delete Story</button></form>

<%} %>

<form method='POST' action='/comments/<%=story._id%>'>
	<label for="comment"></label>
	<textarea name='text' id='comment' rows="4" cols="40" spellcheck="true" required minlength="1" required minlength="1000" placeholder='Enter Your Review'  ></textarea>
	<button class="btn btn-warning" >Post Comment</button>
</form>

<% story.comments.forEach((comment) => { %>
		<blockquote class='comment-block'>
			<p><%=comment.text%></p>
		</blockquote>
	<p>Written by:<%=comment.user.username%></p>

 <% }) %>


<%-include('../partials/footer.ejs')%>
