<%-include('../partials/header.ejs')%>

<h1>Edit Profile</h1>


<div id='edit-profile-container'>
	<form id='register-form' method="POST" enctype="multipart/form-data" action="/users/<%= user._id%>/edit?_method=PUT">

		<legend>Update Profile</legend>
			<label for="profilePhoto">Profile Photo: </label>
<<<<<<< HEAD
			<input type="file" name="profilePhoto" required minlength="1" >
=======
			<!-- include value of current photo to prevent error when not specified? -->
			<input type="file" name="profilePhoto">
>>>>>>> 117fc0bd7dca4f26e7f7642fafec6171226867f0
			<label for="firstName">First Name: </label>
			<input class="form-control" id='firstName' type="text" name="firstName" value="<%= user.firstName%>" required minlength="1">
			<label for="lastName">Last Name: </label>
			<input class="form-control" id='lastName' type="text" name="lastName" value="<%= user.lastName%>" required minlength="1">
			<label for="email">Email: </label>
			<input class="form-control" id='email' type="email" name="email" value="<%= user.email%>" required minlength="1">
			<label for="dob">Date of Birth: </label>
			<input class="form-control" type="text" name="dob" value="<%= user.dob.toLocaleDateString()%>" required minlength="8">
			<label for="description">Your Description: </label>
			<textarea style="overflow-wrap: break-word" class='form-control' id='description' name="description"><%= user.description%></textarea>
			<button class="btn btn-success">Edit Profile</button>
	</form>
</div>




<%-include('../partials/footer.ejs')%>