<%-include('../partials/header.ejs')%>

<% if (userId == userInput) { -%>
	<h2>Your profile page</h2>
	<a href="/users/<%= user._id%>/edit" title=""><small>Edit profile</small></a>


	<!-- enter user.description? below -->
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut en</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magn </p>


	<form method="POST" action="/users/<%= userId%>?_method=delete">
		<button class='class="btn btn-danger'>Cancel Account</button>
	</form>
	
<% } else { -%>

	<h2><%=user.username%> Profile Page</h2>

	<p><%= user.firstName%></p>
	<p><%= user.lastName%></p>
	<p><%= user.username%> joined Authors-R-Us on <%= user.createdOn.toLocaleDateString()%></p>

	<a href="/stories/"><%= user.username%>'s Stories</a>
<% } -%>

<%-include('../partials/footer.ejs')%>