<%-include('../partials/header.ejs')%>

<% if (userId == userInput) { -%>
	<h2>Your profile page</h2>


	<% if(!author) { %>  
		<div class="instruction">
			<p>To become an Author you must make a total of 10 comments between all stories.</p>
			<p>You currently have <%=totalComments%> out 10</p>
		</div>
	<% } %>

	<!-- enter user.description? below -->
	
<% } else { -%>

	<h2><%=user.username%> Profile Page</h2>

	<a href="/stories/users/<%=user._id%>"><%= user.username%>'s Stories</a>
<% } -%>

	<div class="card" style="width: 18rem;">
		<img class='user-img' src="/users/photo/<%=user._id%>">
		<div class="card-body">
			<h5>Username: <%=user.username%></h5>
			<h6>First Name: <%=user.firstName%></h6>
			<h6>Last Name: <%= user.lastName%></h6>
			<h6>Email: <%= user.email%></h6>
			<h6>About:</h6>
			<textarea class="card-text" readonly><%=user.description%></textarea>
			<p class="card-text">joined Authors-R-Us on <%= user.createdOn.toLocaleDateString()%></p>
			<% if (userId == userInput) { -%>
				<a href="/users/<%= user._id%>/edit" title=""><small>Edit profile</small></a>
				<form method="POST" action="/users/<%= userId%>?_method=delete">
					<button class='class="btn btn-danger'>Cancel Account</button>
				</form>
			<% } -%>
		</div>
	</div>



<%-include('../partials/footer.ejs')%>