<%-include('../partials/header.ejs')%>

	<h1><%=story.title%></h1>
	<a href="/stories/<%=story._id%>/edit" title=""><small>Edit</small></a>
	<h3><%=story.genre%></h3>
	<p><%=story.body%></p>
	<form method='POST' action="/users/profile/stories/<%=story._id%>?_method=delete">
		<button class="btn btn-danger">Delete Story</button>
	</form>

<%-include('../partials/footer.ejs')%>
